[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group htc10 maintainers
	forgeAuthor = group htc10 maintainers
	push = group htc10 maintainers
	label-Code-Review = -2..+2 group htc10 maintainers
	label-Verified = -1..+1 group htc10 maintainers
	rebase = group htc10 maintainers
	submit = group htc10 maintainers
	forgeCommitter = group htc10 maintainers
